body{
  content: '';
  background-image: linear-gradient(115deg, rgba(134, 134, 150, 0.8), rgba(107, 107, 124, 0.7)), url("https://lh3.googleusercontent.com/_0E-TXpc_6VK2DYUQ6jW8XxJ4u2bNxK0PNuM230kKNHUPqh_1IGwmvjHnpyXqAcnIcmhkMT0v8qBEdNeZOQhug6u2WSmZ-y2YzjOzM6uWNdEmrANWhyHTlh_i0KTCfSI69w6dPUoXOx9F6d7WNgCwJ0vzj5fwmPAsv2_vpUtMzVHnZ6VAZT5ydFV0WYqGEXLNcEVtKyF-DJYssVImlFsaK5J-rRIGdW1802H82BbCAQyX4YTLNUO0mi5r8acp5PkwtkZM3GeYUATfqcjZcDjlZ70Zs4Y5aKz-z-z1NpcDDu_ZZXjaeFFfnx_3WmYGTrPe2pSU5k6tSowH4jtc9lwvXME3UF5-Kt_9hcIW1PzSpUttk4PG517VB6kU1pjxNzNLRWb7n2K9HR2sWdVyE9I7IEKsjIcXCX2Ohf4y2AtNvjTb5FPvKOv7go6pms6h9Ewu_nWrg4M4W4POrf6Jzi2jIJ4rB83tZmaXzYhXQeXFtrOhUik0nig3J21STiqg1XCPMayfr0n7e196uQQdWsq5mzscsdQNTJkHLg-DYIWrnyNAWvFriiUMUDHYUJiVr78F6X2Po4prqw0syU9pca_4bBrOR1AJ26jl-qXvofqY9E6tQ-6OSqVZV2r1Rm0NuDpaX9S3C0NxC3WCl2BvZY_iodNllwTpootY-C8M7o4DP6Tpl05xgsBR6qHdkpHrg=w1204-h903-no");
  background-position: 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover, cover;
  color: rgb(243, 243, 243);
  height: 100%;
  width: 100%;
}
  
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  color: rgb(243, 243, 243);
  background: var(--color-darkblue);
  background-image: linear-gradient(    115deg, rgba(212, 212, 221, 0.8),         rgba(196, 206, 136, 0.7) ),     url(https://lh3.googleusercontent.com/_0E-TXpc_6VK2DYUQ6jW8XxJ4u2bNxK0PNuM230kKNHUPqh_1IGwmvjHnpyXqAcnIcmhkMT0v8qBEdNeZOQhug6u2WSmZ-y2YzjOzM6uWNdEmrANWhyHTlh_i0KTCfSI69w6dPUoXOx9F6d7WNgCwJ0vzj5fwmPAsv2_vpUtMzVHnZ6VAZT5ydFV0WYqGEXLNcEVtKyF-DJYssVImlFsaK5J-rRIGdW1802H82BbCAQyX4YTLNUO0mi5r8acp5PkwtkZM3GeYUATfqcjZcDjlZ70Zs4Y5aKz-z-z1NpcDDu_ZZXjaeFFfnx_3WmYGTrPe2pSU5k6tSowH4jtc9lwvXME3UF5-Kt_9hcIW1PzSpUttk4PG517VB6kU1pjxNzNLRWb7n2K9HR2sWdVyE9I7IEKsjIcXCX2Ohf4y2AtNvjTb5FPvKOv7go6pms6h9Ewu_nWrg4M4W4POrf6Jzi2jIJ4rB83tZmaXzYhXQeXFtrOhUik0nig3J21STiqg1XCPMayfr0n7e196uQQdWsq5mzscsdQNTJkHLg-DYIWrnyNAWvFriiUMUDHYUJiVr78F6X2Po4prqw0syU9pca_4bBrOR1AJ26jl-qXvofqY9E6tQ-6OSqVZV2r1Rm0NuDpaX9S3C0NxC3WCl2BvZY_iodNllwTpootY-C8M7o4DP6Tpl05xgsBR6qHdkpHrg=w1204-h903-no);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#myvideobg{
  opacity: 0.3;
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
header{
  margin: 20px;
} 

#buttons{
  display: inline-flex;
  position: relative;
  bottom: 50px;
  left: 5%;
  max-width: 100%;
  margin: auto;

}

#logo{
  text-shadow: 4px 4px 2px black, 4px 4px 25px white, 0 0 5px rgba(153, 168, 173, 0.8);
  box-shadow: 4px 4px 2px black, 0 0 25px white, 0 0 5px rgba(153, 168, 173, 0.8);
  display: inline-flex;
  border-radius: 50% 50% 50% 50%;
  position: relative;
  top: 40px;
  left: 40px;
}

#logo:hover {
  box-shadow: 0 0 20px 1px rgba(153, 168, 173, 0.8);
}

.home{
  border-radius: 20% 0% 0% 20%;
  margin-left: 10px auto;
  font-size: 30px;
  font-family: 'pacificoregular';
  src: url('font-face\pacifico-regular-webfont.woff2') format('woff2'),
       url('font-face\pacifico-regular-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  background-color: rgba(224, 221, 190, 0.5);
  color: rgb(243, 243, 243);
  padding: 80px 80px 20px 80px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-shadow: 4px 4px 2px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  box-shadow: 4px 4px 2px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  max-width: 100%;
  margin: 0px auto;
  
}

.home:hover {
  box-shadow: 0 0 20px 3px rgba(153, 168, 173, 0.8);
}

.gallery{
  font-size: 30px;
  font-family: 'pacificoregular';
  src: url('font-face\pacifico-regular-webfont.woff2') format('woff2'),
       url('font-face\pacifico-regular-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  background-color: rgba(224, 221, 190, 0.5);
  color: rgb(243, 243, 243);
  padding: 80px 80px 20px 80px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-shadow: 4px 4px 2px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  box-shadow: 4px 4px 2px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  max-width: 100%;
  margin: 0px auto;
}

.gallery:hover{
  box-shadow: 0 0 20px 3px rgba(153, 168, 173, 0.8);
}

.about{
  font-size: 30px;
  font-family: 'pacificoregular';
  src: url('font-face\pacifico-regular-webfont.woff2') format('woff2'),
       url('font-face\pacifico-regular-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  background-color: rgba(224, 221, 190, 0.5);
  color: rgb(243, 243, 243);
  padding: 80px 80px 20px 80px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-shadow: 4px 4px 2px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  box-shadow: 4px 4px 2px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  max-width: 100%;
  margin: 0px auto;
}

.about:hover{
  box-shadow: 0 0 20px 3px rgba(153, 168, 173, 0.8);
}

.contact-us{
  font-size: 30px;
  font-family: 'pacificoregular';
  src: url('font-face\pacifico-regular-webfont.woff2') format('woff2'),
       url('font-face\pacifico-regular-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  background-color: rgba(224, 221, 190, 0.5);
  color: rgb(243, 243, 243);
  padding: 80px 80px 10px 80px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-shadow: 4px 4px 2px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  box-shadow: 4px 4px 2px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  max-width: 100%;
  margin: 0px auto;
}

.contact-us:hover{
  box-shadow: 0 0 20px 3px rgba(153, 168, 173, 0.8);
}

.facebook{
  border-radius: 0% 20% 20% 0%;
  display: inline-flex;
  position: relative;
  background-color: rgba(224, 221, 190, 0.5);
  color: #333333;
  padding: 80px 100px 80px 100px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-shadow: 4px 4px 2px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  box-shadow: 4px 4px 2px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  max-width: 100%;
  margin: 0px auto;
}

.facebook:hover{
  box-shadow: 0 0 20px 3px rgba(153, 168, 173, 0.8);
}

h1{
    font-family: 'pacificoregular';
  src: url('font-face\pacifico-regular-webfont.woff2') format('woff2'),
       url('font-face\pacifico-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  text-shadow: 4px 4px 2px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px darkblue;
  border-radius: 30px;
  font-size: 45px;
  background: rgba(224, 221, 190, 0.6);
}

h2{
  font-family: 'source_serif_proregular';
  src: url('sourceserifpro-regular-webfont.woff2') format('woff2'),
       url('sourceserifpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  padding-bottom: 40px;
  padding-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 50px;
  text-shadow: 4px 4px 2px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
}

h3{
  font-family: 'caveat_brushregular';
  src: url('caveatbrush-regular-webfont.woff2') format('woff2'),
       url('caveatbrush-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  text-shadow: 4px 4px 2px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  padding-bottom: 40px;
}

li{
  font-family: 'caveat_brushregular';
  src: url('caveatbrush-regular-webfont.woff2') format('woff2'),
       url('caveatbrush-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 35px;
  text-shadow: 1px 1px .5px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
}

h4{
  font-family: 'source_serif_proregular';
  src: url('sourceserifpro-regular-webfont.woff2') format('woff2'),
       url('sourceserifpro-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  flex-direction: row;
  font-size: 26px;
  text-shadow: 2px 2px 1px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  padding-bottom: 40px;
  line-height: 1.7;
}

h5{
  font-family: 'source_serif_proregular';
  src: url('sourceserifpro-regular-webfont.woff2') format('woff2'),
       url('sourceserifpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px 1px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  line-height: 1.7;
}

h6{
  text-align: center;
  font-size: 20px;
}
#box-container-1{
  flex-direction: column;
  display: flex;
}
  
#box-1{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
  background: rgba(224, 221, 190, 0.6);
}

#box-container-2{
  flex-direction: column;
  display: flex;
}
  
#box-2{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  background: rgba(224, 221, 190, 0.6);
}

.container{
  position: relative;
}

.mySlides{
  max-width: 950px;
  max-height: 500px;
  position: relative;
  left: 32%;
  right: 30%;
}

.cursor{
  cursor: pointer;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 30px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-shadow: 2px 2px 1px black, 4px 4px 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  
}

.next{
  position: absolute;
  right: 0;
  border-radius: 50% 50% 45% 45%;
  background-color: rgb(224, 221, 190);
  box-shadow: 4px 5px 5px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  
}

.prev{
  position: absolute;
  left: 0;
  border-radius: 50% 50% 45% 45%;
  background-color: rgb(224, 221, 190);
  box-shadow: 4px 5px 4px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  
}
.prev:hover{
  background-color: rgba(224, 221, 190);
  box-shadow: 0 0 20px 3px rgba(153, 168, 173);
}
.next:hover{
  background-color: rgba(224, 221, 190);
  box-shadow: 0 0 20px 3px rgba(153, 168, 173);
}
@media only screen and (max-width:1600px) {
  .home, .gallery, .about, .contact-us, .facebook, .prev, .next {
    width: 80%;
    padding: 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    left: 200px;
  }

  #logo {
    z-index: -3;
    position: relative;
    bottom: 100px;
    width: 100%;
    box-shadow: 0 0 0px 0px;
  }

  .facebook{
    padding-right: 5px;
    padding-bottom: 2px;
  }

  .home{
    padding-left: 5px;
    padding-bottom: 2px;
  }
  .prev{
    
    position: relative;
    left: -195;
    bottom: 300;
    border-radius: 50% 50% 45% 45%;
    background-color: rgb(224, 221, 190);
    box-shadow: 4px 5px 4px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  }

  .next{
    position: relative;
    left: 750;
    bottom: 300;
    border-radius: 50% 50% 45% 45%;
    background-color: rgb(224, 221, 190);
    box-shadow: 4px 5px 4px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  }

  .mySlides{
    max-width: 400px;
    max-height: 250px;
    position: relative;
    left: 170;

  }
}
@media only screen and (max-width:1400px){
 .next{
    position: relative;
    left: 460;
    bottom: 300;
    border-radius: 50% 50% 45% 45%;
    background-color: rgb(224, 221, 190);
    box-shadow: 4px 5px 4px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  }
}
@media only screen and (max-width:800px) {
  /* For tablets: */
   .home, .gallery, .about, .contact-us, .facebook, .prev, .next {
    width: 80%;
    padding: 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    left: 80px;
  }

  #logo {
    z-index: -3;
    position: relative;
    bottom: 100px;
    width: 100%;
    box-shadow: 0 0 0px 0px;
  }

  .facebook{
    padding-right: 5px;
    padding-bottom: 2px;
  }

  .home{
    padding-left: 5px;
    padding-bottom: 2px;
  }

  .prev{
    
    position: relative;
    left: -195;
    bottom: 300;
    border-radius: 50% 50% 45% 45%;
    background-color: rgb(224, 221, 190);
    box-shadow: 4px 5px 4px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  }

  .next{
    position: relative;
    left: 310;
    bottom: 435;
    border-radius: 50% 50% 45% 45%;
    background-color: rgb(224, 221, 190);
    box-shadow: 4px 5px 4px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  }

  .mySlides{
    max-width: 400px;
    max-height: 150px;
    position: relative;
    left: 80;

  }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .home, .gallery, .about, .contact-us, .facebook, .prev, .next {
    width: 80%;
    padding: 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    left: -50px;
  }
  #logo {
    z-index: -3;
    position: relative;
    bottom: 100px;
    width: 100%;
    box-shadow: 0 0 0px 0px;
  }
  .facebook{
    padding-right: 5px;
    padding-bottom: 2px;
  }
  .home{
    padding-left: 5px;
    padding-bottom: 2px;
  }

  .prev{
    
    position: relative;
    left: -195;
    bottom: 300;
    border-radius: 50% 50% 45% 45%;
    background-color: rgb(224, 221, 190);
    box-shadow: 4px 5px 4px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  }

  .next{
    position: relative;
    left: 180;
    bottom: 435;
    border-radius: 50% 50% 45% 45%;
    background-color: rgb(224, 221, 190);
    box-shadow: 4px 5px 4px black, 0 0 25px rgb(153, 168, 173), 0 0 5px rgba(153, 168, 173, 0.8);
  }

  .mySlides{
    max-width: 400px;
    max-height: 150px;
    position: relative;
    left: 80;
}
}